<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webview.filereader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application android:networkSecurityConfig="@xml/android_q_net_security_config" android:hardwareAccelerated="true">


        <!--     Add to AndroidManifest.xml to optimize the Service statement when the kernel is first loaded
        The Service is only triggered and executed when the TBS kernel Dex is loaded for the first time, and the dex2oat task is automatically terminated after the task is completed. 。  -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />




    </application>


</manifest>
